@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&family=Coral+Pixels&family=Oswald:wght@200..700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Comic Relief", system-ui;
}
body{
    background: linear-gradient(rgba(255, 255, 0, 0.514), rgba(0, 0, 255, 0.493)), url(./10.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.firstIntro{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.76), rgba(0, 0, 0, 0.507)), url(./10.jpg);
    background-size: cover;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0 ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 120px;
    cursor: pointer;
}
.firstIntro li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}
.firstIntro li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 22px;
}
.firstIntro .content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}
.firstIntro .content h1{
    color: aliceblue;
    font-size: 40px;
}
.firstIntro .content p{
    color: gray;
    font-size: 20px;
}
.buttons button{
    width: 200px;
    padding: 15px 0px;
    margin: 20px 10px;
    border-radius: 25px;
    background-color: transparent;
    border: 1px solid darkblue;
    color: rgba(197, 13, 28, 0.582);
}
.buttons button:hover{
    border: 1px solid red;
    background-color: rgba(25, 103, 175, 0.596);
    color: bisque;
    border-top-left-radius: 0px;
    transition: all 0.5s;
    transform: scale(1.02);
}
.card{
    width: 300px;
    height: 400px;
    /* border: 2px solid black; */
    background: linear-gradient(rgba(158, 39, 39, 0.411), black), url(./11.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    border: 1px solid rgb(103, 44, 126);
    border-radius: 10px;
}
.card-text h1{
    color: rgb(219, 217, 88);
    text-align: center;
}
.card-text p{
    color: rgb(221, 212, 82);
    text-align: center;
    display: none;
}
.card:hover h1{
    display: none;
}
.card:hover p{
    display: block;
    transition: all 0.5s;
}
.card:hover{
    border-radius: 5px;
    transform: scale(1.02);
    transition: all 0.3s;
}
.card-buttons{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.card-buttons button{
    width: 120px;
    padding: 8px 0;
    background-color: transparent;
    color: rgba(209, 93, 93, 0.534);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 16px;
    text-transform: uppercase;
}
.card-buttons button:hover{
    cursor: pointer;
    border: 1px solid rgb(255, 255, 255);
    transform: scale(1.03);
}
.card-container{
    width: 100%;
    /* background: linear-gradient(90deg, rgb(36, 126, 118),rgba(50, 30, 124, 0.527)); */
    height: 100vh;
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
}
.card1{
    width: 300px;
    height: 400px;
    /* border: 2px solid black; */
    background: linear-gradient(rgba(0, 0, 0, 0.411), rgba(30, 40, 180, 0.521)), url(./12.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    border: 1px solid rgb(103, 44, 126);
    border-radius: 10px;
}
.card-text h1{
    color: rgb(219, 217, 88);
    text-align: center;
}
.card-text p{
    color: rgb(230, 214, 76);
    text-align: center;
    display: none;
}
.card1:hover:h1{
    display: none;
}
.card1:hover p{
    display: block;
    transition: all 0.5s;
}
.card1:hover{
    border-radius: 5px;
    transform: scale(1.02);
    transition: all 0.3s;
}
.card-buttons{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.card-buttons button{
    width: 120px;
    padding: 8px 0;
    background-color: transparent;
    color: rgb(105, 93, 173);
    border: 1px solid rgb(91, 136, 49);
    border-radius: 16px;
    text-transform: uppercase;
}
.card-buttons button:hover{
    cursor: pointer;
    border: 1px solid black;
    transform: scale(1.03);
}
.card-container{
    width: 100%;
    /* background: linear-gradient(90deg, rgb(36, 126, 118),rgb(50, 30, 124)); */
    height: 100vh;
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
}
.card2{
    width: 300px;
    height: 400px;
    /* border: 2px solid black; */
    background: linear-gradient(rgba(0, 0, 0, 0.411), rgba(26, 100, 8, 0.404)), url(./13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    border: 1px solid rgb(103, 44, 126);
    border-radius: 10px;
}
.card-text h1{
    color: rgb(219, 217, 88);
    text-align: center;
}
.card-text p{
    color: rgb(19, 21, 122);
    text-align: center;
    display: none;
}
.card2:hover h1{
    display: none;
}
.card2:hover p{
    display: block;
    transition: all 0.5s;
}
.card2:hover{
    border-radius: 5px;
    transform: scale(1.02);
    transition: all 0.3s;
}
.card-buttons{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.card-buttons button{
    width: 120px;
    padding: 8px 0;
    background-color: transparent;
    color: rgb(105, 93, 173);
    border: 1px solid rgb(91, 136, 49);
    border-radius: 16px;
    text-transform: uppercase;
}
.card-buttons button:hover{
    cursor: pointer;
    border: 1px solid rgb(255, 255, 255);
    transform: scale(1.03);
}
.card-container{
    width: 100%;
    /* background: linear-gradient(90deg, rgb(36, 126, 118),rgb(50, 30, 124)); */
    height: 100vh;
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
}
.card3{
    width: 300px;
    height: 400px;
    /* border: 2px solid black; */
    background: linear-gradient(rgba(64, 100, 86, 0.342), rgba(114, 40, 124, 0.521)), url(./14.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    border: 1px solid rgb(103, 44, 126);
    border-radius: 10px;
}
.card4{
    width: 300px;
    height: 400px;
    /* border: 2px solid black; */
    background: linear-gradient(rgba(64, 100, 86, 0.342), rgba(114, 40, 124, 0.521)), url(./15.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    border: 1px solid rgb(103, 44, 126);
    border-radius: 10px;
}
.card-text{
    width: 100%;
    height: 70%;
    border: 1px solid rgb(27, 105, 88);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card-text h1{
    color: rgb(219, 217, 88);
    text-align: center;
}
.card-text p{
    color: rgb(221, 218, 65);
    text-align: center;
    display: none;
}
.card3:hover h1{
    display: none;
}
.card3:hover p{
    display: block;
    transition: all 0.5s;
}
.card3:hover{
    border-radius: 5px;
    transform: scale(1.02);
    transition: all 0.3s;
}
.card-buttons{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.card-buttons button{
    width: 120px;
    padding: 8px 0;
    background-color: transparent;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 16px;
    text-transform: uppercase;
}
.card-buttons button:hover{
    cursor: pointer;
    border: 1px solid rgb(255, 255, 255);
    transform: scale(1.03);
}
.card-container{
    width: 100%;
    /* background: linear-gradient(90deg, rgb(36, 126, 118),rgb(50, 30, 124)); */
    height: 100vh;
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

input[type=text], select, textarea {
    width: 100%; 
    padding: 12px;
    border: 1px solid #e97e7e;
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px;
    margin-bottom: 16px; 
    resize: vertical 
  }
  

  input[type=submit] {
    background-color: #2862ce;
    color: rgb(255, 255, 255);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
    input[type=submit]:hover {
    background-color: #a09245;
  }
  
  .container {
    border-radius: 5px;
    background: linear-gradient(rgba(0, 0, 0, 0.295), rgba(0, 0, 0, 0.336));
    padding: 20px;
  }
